﻿@model AdIndexModel

<div class="row">
    <div class="col-lg-8 mx-auto">
        <ul class="list-group shadow">
             @foreach (var item in Model.Ads)
             {
                  <li class="list-group-item">
                      <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                          <div class="media-body order-2 order-lg-1">
                              <a class="mt-0 font-weight-bold mb-2" asp-action="Details" asp-route-adId="@item.Id">
                                  @Html.DisplayFor(modelItem => item.Title)
                              </a>
                              <p class="font-italic text-muted mb-0 small">@Html.DisplayFor(modelItem => item.Content)</p>
                              <div class="d-flex align-items-center justify-content-between mt-1">
                                  <h6 class="font-weight-bold my-2">Price : @Html.DisplayFor(modelItem => item.Price)$</h6>
                                  <ul class="list-inline small">
                                      Category: @Html.DisplayFor(modelItem => item.Category)
                                  </ul>
                              </div>
                          </div>
                          @if(item.Image.Length > 0){
                              <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image))" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                          }
                          else
                          {
                              <img src="default-no-image.png" width="200" class="ml-lg-5 order-1 order-lg-2">
                          }
                          
                      </div>
                  </li>
             }
        </ul> 
    </div>
</div>