﻿@model AdModel

@{
    ViewData["Title"] = "MyLalafo: " + Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
	
}
<style>
	.gallery-wrap .img-big-wrap img {
        height: 450px;
        width: auto;
        display: inline-block;
    }
    .img-small-wrap img {
        height: 450px;
        width: auto;
        display: inline-block;
    }
    
</style>
<div>
	<input type="button" adId="@Model.Id" class="btn-primary" id = "UpAd" value="UP"/>
	@* <a class="mt-0 font-weight-bold mb-2" asp-action="Edit" asp-route-Id="@Model.Id">Edit</a> *@
</div>
<div class="card">
	<div class="row">
		<aside class="col-sm-5 border-right">
			<article class="gallery-wrap"> 
				<div class="img-big-wrap">
					<div> <a href="#"><img width="500" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))"/></a></div>
				</div>
			</article>
		</aside>
		<aside class="col-sm-7">
			<article class="card-body p-5">
				<h3 class="title mb-3">@Model.Title</h3>
				<p class="price-detail-wrap">
				<span class="price h3 text-warning">
					<span class="currency">US $</span><span class="num">@Model.Price</span>
				</span>
				<dl class="item-property">
					<dt>Description</dt>
					<dd>
						<p>@Model.Content</p>
					</dd>
				</dl>
				<dl class="param param-feature">
					<dt>Category</dt>
					<dd>@Model.Category</dd>
				</dl> 
				<dl class="param param-feature">
					<dt>Contact</dt>
					<dd>@Model.OwnerContact</dd>
				</dl> 
				<dl class="param param-feature">
					<dt>Owner name</dt>
					<dd>@Model.OwnerName</dd>
				</dl> 
			</article>
		</aside> 
	</div> 
</div>
<hr>
<article>
	<div class="img-small-wrap raw">
		@foreach (var image in Model.Images)
		{
			if (image.ImageBytes != null && image.ImageBytes.Length > 0)
			{
				<div class="item-gallery"><img src="data:image/jpeg;base64,@(Convert.ToBase64String(image.ImageBytes))"/></div>
			}
		}
	</div>
</article>

<script >
$(document).ready(function() {
	$('#UpAd').on('click',
	function() {
		alert('link');
        var AdId = $(this).attr('AdId');
        $.ajax({
          method: 'GET',
          url: '@Url.Action("UpAjax", "Ad")' + '?adId=' + AdId,
          success: function (data) {
          console.log(data);
          $('body').html(data);
          }
        });
	});
});
</script>




