﻿@model CW9.DAL.Entities.Ad

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Edit ad</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAd" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" value="@Model.Id" />
            <input asp-for="Category" type="hidden" value="@Model.CategoryId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerContact" class="control-label"></label>
                <input asp-for="OwnerContact" class="form-control" />
                <span asp-validation-for="OwnerContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="CategoryId" class="control-label"></label> *@
            @*     <select asp-for="CategoryId" class="form-control" asp-items="@Model.CategoriesSelect"></select> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" accept="image/*" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input asp-for="Images" type="file" multiple="multiple" accept="image/*" class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

