﻿@model AdIndexModel

@{
    ViewBag.Title = "MyLalafo: All ads";
    Layout = "_Layout";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-lg-12">
        <form asp-action="Index" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Page" value="@Model.Page" />
            <div class="form-group col-lg-12">
                <label asp-for="SearchKey" class="control-label">Search key</label>
                <input asp-for="SearchKey" class="form-control" value="@Model.SearchKey" />
                <span asp-validation-for="SearchKey" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                <label asp-for="PriceFrom" class="control-label">Price from</label>
                <input asp-for="PriceFrom" class="form-control" value="@Model.PriceFrom" />
                <span asp-validation-for="PriceFrom" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                <label asp-for="PriceTo" class="control-label">Price to</label>
                <input asp-for="PriceTo" class="form-control" value="@Model.PriceTo"/>
                <span asp-validation-for="PriceTo" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-3">
                <label asp-for="Category" class="control-label">Category </label>
                <input asp-for="Category" class="form-control" value="@Model.Category"></input>
            </div>
            <div class="form-group col-lg-3">
                <label asp-for="HasImage" class="control-label">With image</label>
                <input asp-for="HasImage" class="form-control" checked="@Model.HasImage" />
                <span asp-validation-for="HasImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<partial name="_AdsPartial" model="@Model" />